go 1.22.2

use (
	./arrays-slices
	./concurrency
	./dependency-injection
	./hello-world
	./integers
	./iteration
	./maps
	./mocking
	./pointers-errors
	./reflection
	./select
	./structs-methods-interfaces
	./sync
)
