go 1.22.2

use (
	./arrays-slices
	./coin-change
	./concurrency
	./context
	./dependency-injection
	./hello-world
	./integers
	./iteration
	./maps
	./maths/clockface
	./mocking
	./pointers-errors
	./reading-files
	./reflection
	./roman-numerals
	./select
	./structs-methods-interfaces
	./sync
)
